.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:2rem 6rem;
  min-height: auto;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid rgba(169, 169, 169, 0.128);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (max-width:780px) {
  .main {
    
    padding:2rem 2rem;
    
  }
}
@media screen and (max-width:500px) {
  .main {
    
    padding:2rem 0.3rem 2rem 1rem;
    
  }
}
/* Enable hover only on non-touch devices */

