.container{
    width:100%;
    max-width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.container h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    margin-bottom:15px;
}
.movie{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.image{
    width: 100%;
    min-width: 150px;
    max-width: auto;
    height: auto;
}
.movie div p{
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}
.movie div span{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(255, 255, 255, 0.637);
}
.info{
    margin-left: 20px;
}
@media screen and (max-width:780px) {
    .movie div p{
        font-size:16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 1rem;
    }
    .movie div span{
        font-size:14px;
    }
    .container h3{
        font-size:20px;
    }
}
@media screen and (max-width:470px) {
    .container h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size:18px;
        margin-bottom:15px;
    }
    .movie div p{
        font-size:14px;
    }
    .movie div span{
        font-size:11px;
    }
    .info{
        margin-left: 10px;
    }
}
@media screen and (max-width:300px) {
    .movie{
        display:grid;
        grid-template-columns: auto;
        justify-content: space-between;
    }
    .movie div span{
        font-size:12px;
    }
}